@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box; /* when we add any border or padding to an element it won't affect it's width */
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bg {
  background: url('https://images.unsplash.com/photo-1517887121-557af22472e1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80')
    no-repeat center center;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 40px;
  color: #fff;
}
